# Trabalho de Conformidade do Curso de Dados Abertos para Controle Social

O objetivo do presente trabalho é verificar quais empresas de pessoas politicamente expostas que receberam recursos dos próprios municípios em que têm mandatos.

Para isso serão utilizado dados do Portal de Transparência Municipal do TCESP, base de dados públicos de CNPJ da SRF e dados do Portal da Transparência da CGU.

**Atenção:** Como o presente trabalho é para fins educacionais, os nomes, CPFs e CNPJs foram alterados, mas as estruturas são idênticas às das tabelas originais.

## Importar as bibliotecas utilizadas

In [1]:
import os
import shutil

import pandas as pd
import sqlalchemy

## Carregar Dados

In [2]:
diretorio_dados = 'dados'

### Carregar dados de banco

O banco de dados possui três tabelas: despesas_consolidado, empresas e sócios

In [3]:
arquivo_sqlite = 'banco_trabalho06.db'
filepath_arquivo_sqlite = os.path.join(diretorio_dados, arquivo_sqlite)

In [4]:
url_banco = "sqlite:///{}".format(filepath_arquivo_sqlite)
engine = sqlalchemy.create_engine(url_banco)

#### Despesas 
É a totalização de valores pagos a empresas por município, valores aproximadamente acima de 100 mil reais.

A consolidação foi realizada a partir da tabela despesas do TCE/SP. Os nomes de empresas, cnpjs e municípios foram alterados.

A coluna **ds_municipio** é o nome do município fictício, **nr_identificador_despesa** o CNPJ da empresa que recebeu o valor da coluna soma e **ds_despesa** a razão social fictícia da empresa.

In [5]:
sql = 'SELECT * FROM despesas_consolidado'
despesas = pd.read_sql(sql, engine, index_col=None)

Aqui podemos visualizar uma amostra dos dados

In [6]:
despesas.sample(5)

,ds_municipio,nr_identificador_despesa,ds_despesa,soma
23104,SNOW,00631983000193,CLEMENCE BAR SA,126879.94
15282,SUCHOBKOW,16036834000171,IMRE AGROPECUARIA EPP,193346.11
1972,MARIM,27709938000112,LUCCA SANTOS,2171336.22
22657,EMERIM,67600840000113,MARIA LUIZA TELECOMUNICACOES,128884.53
331,ASSUB,00466957000174,LAIA SISTEMAS,13587600.57

Com o comando abaixo, podemos ver que a tabela possui 25.885 registros; não possui dados nulos e há apenas uma coluna com dados numéricos.

In [7]:
despesas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25885 entries, 0 to 25884
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ds_municipio              25885 non-null  object
 1   nr_identificador_despesa  25885 non-null  object
 2   ds_despesa                25885 non-null  object
 3   soma                      25885 non-null  float64
dtypes: float64(1), object(3)
memory usage: 809.0+ KB

#### Empresas 
Tabela de empresas da receita federal.

Possui dados alterados, mas a estrutura das colunas é semelhante a base pública da Receita Federal.

In [8]:
sql = 'SELECT * FROM empresas'
empresas = pd.read_sql(sql, engine, index_col=None)

Aqui podemos visualizar uma amostra dos dados

In [9]:
empresas.sample(5)

,cnpj,matriz_filial,razao_social,nome_fantasia,situacao,data_situacao,motivo_situacao,nm_cidade_exterior,cod_pais,nome_pais,...,email,qualif_resp,capital_social,porte,opc_simples,data_opc_simples,data_exc_simples,opc_mei,sit_especial,data_sit_especial
1444,00398367000153,1,LEYRE ALIMENTOS,,02,20200101,63,,,,...,,,0.0,05,0,,,N,,
1139,56972044000184,1,LEANO PAPELARIA EPP,,02,20200101,00,,,,...,,,0.0,05,0,,,N,,
224,14874243000146,1,SOFIJA INCORPORACAO SA,,02,20200101,63,,,,...,,,0.0,05,0,,,N,,
4017,22373705000199,1,MADISON EQUIPAMENTOS EIRELLI,,02,20200101,00,,,,...,,,0.0,05,0,,,N,,
551,49505918000652,2,NOEMIE ESPORTIVOS,,02,20200101,00,,,,...,,,0.0,05,0,,,,,

Com o comando abaixo, podemos ver que a tabela possui 5.779 registros; não possui dados nulos e há apenas uma coluna com dados numéricos.

In [10]:
empresas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5779 entries, 0 to 5778
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cnpj                5779 non-null   object
 1   matriz_filial       5779 non-null   object
 2   razao_social        5779 non-null   object
 3   nome_fantasia       5779 non-null   object
 4   situacao            5779 non-null   object
 5   data_situacao       5779 non-null   object
 6   motivo_situacao     5779 non-null   object
 7   nm_cidade_exterior  5779 non-null   object
 8   cod_pais            5779 non-null   object
 9   nome_pais           5779 non-null   object
 10  cod_nat_juridica    5779 non-null   object
 11  data_inicio_ativ    5779 non-null   object
 12  cnae_fiscal         5779 non-null   object
 13  tipo_logradouro     5779 non-null   object
 14  logradouro          5779 non-null   object
 15  numero              5779 non-null   object
 16  complemento         5779 non-null   object
 17  bairro              5779 non-null   object
 18  cep                 5779 non-null   object
 19  uf                  5779 non-null   object
 20  cod_municipio       5779 non-null   object
 21  municipio           5779 non-null   object
 22  ddd_1               5779 non-null   object
 23  telefone_1          5779 non-null   object
 24  ddd_2               5779 non-null   object
 25  telefone_2          5779 non-null   object
 26  ddd_fax             5779 non-null   object
 27  num_fax             5779 non-null   object
 28  email               5779 non-null   object
 29  qualif_resp         5779 non-null   object
 30  capital_social      5779 non-null   float64
 31  porte               5779 non-null   object
 32  opc_simples         5779 non-null   object
 33  data_opc_simples    5779 non-null   object
 34  data_exc_simples    5779 non-null   object
 35  opc_mei             5779 non-null   object
 36  sit_especial        5779 non-null   object
 37  data_sit_especial   5779 non-null   object
dtypes: float64(1), object(37)
memory usage: 1.7+ MB

#### Sócios
Tabela de sócios da receita federal.

Possui dados alterados, mas a estrutura das colunas é semelhante a base pública da Receita Federal.

In [11]:
sql = 'SELECT * FROM socios'
socios = pd.read_sql(sql, engine, index_col=None)

Aqui podemos visualizar uma amostra dos dados

In [12]:
socios.sample(5)

,cnpj,tipo_socio,nome_socio,cnpj_cpf_socio,cod_qualificacao,perc_capital,data_entrada,cod_pais_ext,nome_pais_ext,cpf_repres,nome_repres,cod_qualif_repres
5280,67482634000172,2,PELLETTI TUFFIC COCHARO,***881118**,49,0.0,20200101,,,,,00
4951,35320703000174,2,RADANOVIC DA SUSAKO JOANNES,***194358**,49,0.0,20200101,,,,,00
5421,12918626000164,2,SIDNEI EVANIRO DA SUSAKO,***984798**,65,0.0,20200101,,,,,00
4505,05736007000129,2,NEDIR CASSALTO,***867858**,10,0.0,20200101,,,,,00
2631,17490575000143,2,JAIR BONAVOGLIA WEULLER,***298988**,49,0.0,20200101,,,,,00

Com o comando abaixo, podemos ver que a tabela possui 5.825 registros; não possui dados nulos e há apenas uma coluna com dados numéricos.

In [13]:
socios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5825 entries, 0 to 5824
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cnpj               5825 non-null   object
 1   tipo_socio         5825 non-null   object
 2   nome_socio         5825 non-null   object
 3   cnpj_cpf_socio     5825 non-null   object
 4   cod_qualificacao   5825 non-null   object
 5   perc_capital       5825 non-null   float64
 6   data_entrada       5825 non-null   object
 7   cod_pais_ext       5825 non-null   object
 8   nome_pais_ext      5825 non-null   object
 9   cpf_repres         5825 non-null   object
 10  nome_repres        5825 non-null   object
 11  cod_qualif_repres  5825 non-null   object
dtypes: float64(1), object(11)
memory usage: 546.2+ KB

### Carregar dados de Prefeitos e Vereadores de São Paulo

In [14]:
arquivo_peps = 'PEP_SP.csv'
filepath_arquivo_pep = os.path.join(diretorio_dados, arquivo_peps)

In [15]:
peps = pd.read_csv(filepath_arquivo_pep, sep=';')

Aqui podemos visualizar uma amostra dos dados

In [16]:
peps.sample(5)

,CPF,Nome_PEP,Sigla_Função,Descrição_Função,Nível_Função,Nome_Órgão,Data_Início_Exercício,Data_Fim_Exercício,Data_Fim_Carência,uf_orgao
2606,***.317.148-**,DENIS TUFFIC DA SUSAKO,VEREAD,VEREADOR,NaN,MUN. DE DALO-SP,01/01/2017,31/12/2020,31/12/2025,SP
991,***.124.428-**,MARCO SPERETA EDZIO,PREFEI,PREFEITO,NaN,MUN. DE SZAJUBOK-SP,01/01/2017,31/12/2020,31/12/2025,SP
4564,***.586.738-**,IVONE PIRASSOLLI VERZANO,VEREAD,VEREADOR,NaN,MUN. DE PORSCH-SP,01/01/2017,31/12/2020,31/12/2025,SP
1310,***.161.468-**,CAUME NAVARENO CLEUDIO LAURIDE,VEREAD,VEREADOR,NaN,MUN. DE VIR-SP,01/01/2017,31/12/2020,31/12/2025,SP
3377,***.421.088-**,FREJDA DE SULACOV,VEREAD,VEREADOR,NaN,MUN. DE CHREEM-SP,01/01/2017,31/12/2020,31/12/2025,SP

Com o comando abaixo, podemos ver que a tabela possui 7.690 registros; não possui dados nulos e há apenas uma coluna com dados numéricos.

In [17]:
peps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7690 entries, 0 to 7689
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CPF                    7690 non-null   object
 1   Nome_PEP               7690 non-null   object
 2   Sigla_Função           7690 non-null   object
 3   Descrição_Função       7690 non-null   object
 4   Nível_Função           0 non-null      float64
 5   Nome_Órgão             7690 non-null   object
 6   Data_Início_Exercício  7690 non-null   object
 7   Data_Fim_Exercício     7690 non-null   object
 8   Data_Fim_Carência      7690 non-null   object
 9   uf_orgao               7690 non-null   object
dtypes: float64(1), object(9)
memory usage: 600.9+ KB

## Execução

In [18]:
# Definir diretorio saida
diretorio_saida_dados = 'saida'

# Remover diretorio saida, se houver
shutil.rmtree(diretorio_saida_dados, ignore_errors=True)

# Criar diretorio saida
os.makedirs(diretorio_saida_dados, exist_ok=True)

### Tratamento dos dados

Alguns dados precisam ser tratados antes da análise.

#### Empresa

A coluna **data_situacao** está no formato YYYMMDD, para facilitar a análise, vamos criar a coluna **data_situacao_normalizado** com o formato YYYY-MM-DD

In [19]:
empresas['data_situacao'].sample(5)

3451    20200101
4183    20200101
3578    20200101
4161    20200101
1877    20200101
Name: data_situacao, dtype: object

In [20]:
empresas['data_situacao_normalizado'] = pd.to_datetime(empresas['data_situacao']).dt.date

In [21]:
empresas['data_situacao_normalizado'].sample(5)

5011    2020-01-01
2092    2020-01-01
4128    2020-01-01
4590    2020-01-01
1386    2020-01-01
Name: data_situacao_normalizado, dtype: object

#### Socios

A coluna **data_entrada** está no formato YYYMMDD, para facilitar a análise, vamos criar a coluna **data_entrada_normalizado** com o formato YYYY-MM-DD

In [22]:
socios['data_entrada'].sample(5)

4161    20200101
3659    20200101
4355    20200101
860     20200101
4239    20200101
Name: data_entrada, dtype: object

In [23]:
socios['data_entrada_normalizado'] = pd.to_datetime(socios['data_entrada']).dt.date

In [24]:
socios['data_entrada_normalizado'].sample(5)

949     2020-01-01
5299    2020-01-01
4418    2020-01-01
4655    2020-01-01
4832    2020-01-01
Name: data_entrada_normalizado, dtype: object

### Prefeitos e Vereadores de SP

A coluna **CPF** possuem pontuação, vamos criar a coluna **CPF_normalizado** sem elas.

In [25]:
peps['CPF'].sample(5)

3010    ***.367.288-**
4097    ***.523.098-**
1769    ***.216.688-**
4413    ***.566.118-**
6023    ***.777.398-**
Name: CPF, dtype: object

In [26]:
peps['CPF_normalizado'] = peps['CPF'].str.replace(".", "", regex=False).str.replace("-", "", regex=False)

In [27]:
peps['CPF_normalizado'].sample(5)

5548    ***718798**
6291    ***812568**
6465    ***839608**
3583    ***451268**
2488    ***305238**
Name: CPF_normalizado, dtype: object

Na coluna **Nome_Órgão** vamos filtrar dados extras e manter apenas o nome do município na coluna **Municipio_normalizado**

In [28]:
peps['Nome_Órgão'].sample(5)

1746    MUN. DE INFANTINO-SP
1355       MUN. DE MARTEL-SP
5011    MUN. DE MASSOCATO-SP
1107       MUN. DE ZACCAI-SP
3903       MUN. DE BASSUL-SP
Name: Nome_Órgão, dtype: object

In [29]:
peps['Municipio_normalizado'] = peps['Nome_Órgão'].str.replace("MUN. DE ", "", regex=False).str.replace("-SP", "", regex=False)

In [30]:
peps['Municipio_normalizado'].sample(5)

7622    MANSUETO
7251     ROZARIO
2085        DHOM
3778    HIROHARA
5039    YOSHIKAY
Name: Municipio_normalizado, dtype: object

As coluna **Data_Início_Exercício**, **Data_Fim_Exercício** e **Data_Fim_Carência** estão no formato YYY/MM/DD, para facilitar a análise, vamos criar a colunas **Data_Inicio_Exercicio_normalizado**, **Data_Fim_Exercicio_normalizado** e **Data_Fim_Carência_normalizado** com o formato YYYY-MM-DD

In [31]:
peps['Data_Início_Exercício'].sample(5)

5240    01/01/2017
2573    01/01/2017
5933    01/01/2017
2235    01/01/2017
4379    01/01/2017
Name: Data_Início_Exercício, dtype: object

In [32]:
peps['Data_Fim_Exercício'].sample(5)

3453    31/12/2020
817     31/12/2020
249     31/12/2020
7027    31/12/2020
2348    31/12/2020
Name: Data_Fim_Exercício, dtype: object

In [33]:
peps['Data_Fim_Carência'].sample(5)

3052    31/12/2025
7481    31/12/2025
5186    31/12/2025
4061    31/12/2025
6704    31/12/2025
Name: Data_Fim_Carência, dtype: object

In [34]:
peps['Data_Inicio_Exercicio_normalizado'] = pd.to_datetime(peps['Data_Início_Exercício']).dt.date
peps['Data_Fim_Exercicio_normalizado'] = pd.to_datetime(peps['Data_Fim_Exercício']).dt.date
peps['Data_Fim_Carência_normalizado'] = pd.to_datetime(peps['Data_Fim_Carência']).dt.date

In [35]:
peps['Data_Inicio_Exercicio_normalizado'].sample(5)

2172    2017-01-01
5710    2017-01-01
6362    2017-01-01
7556    2017-01-01
4975    2017-01-01
Name: Data_Inicio_Exercicio_normalizado, dtype: object

In [36]:
peps['Data_Fim_Exercicio_normalizado'].sample(5)

1645    2020-12-31
1148    2020-12-31
2125    2020-12-31
5047    2020-12-31
1215    2020-12-31
Name: Data_Fim_Exercicio_normalizado, dtype: object

In [37]:
peps['Data_Fim_Carência_normalizado'].sample(5)

1810    2025-12-31
578     2025-12-31
5009    2025-12-31
5875    2025-12-31
734     2025-12-31
Name: Data_Fim_Carência_normalizado, dtype: object

### Gerar Banco de Dados

#### Copiar banco original para diretorio de saida

In [38]:
arquivo_banco_saida = 'output.db'
filepath_arquivo_banco_saida = os.path.join(diretorio_saida_dados, arquivo_banco_saida)
shutil.copyfile(filepath_arquivo_sqlite, filepath_arquivo_banco_saida)

'saida/output.db'

#### Gravar tabela de prefeitos_vereadores em banco gerado

In [39]:
url_banco = "sqlite:///{}".format(filepath_arquivo_banco_saida)
engine_banco_saida = sqlalchemy.create_engine(url_banco)

In [40]:
peps.to_sql('peps', con=engine_banco_saida)

### Consultar Empresas Relacionadas com Pessoas Politicamente Expostas que Receberam Recursos

In [41]:
sql = 'SELECT \
  des.ds_municipio AS [Nome_Municipio_Ficticio], \
  des.nr_identificador_despesa AS [CNPJ_Empresa_Beneficiaria], \
  des.ds_despesa AS [Razao_Social_Empresa_Beneficiaria], \
  des.soma AS [Valor_Total], \
  emp.cnpj AS [CNPJ_RFB], \
  emp.razao_social AS [Razao_Social_RFB], \
  CASE emp.situacao \
    WHEN "01" THEN "NULA" \
    WHEN "02" THEN "ATIVA" \
    WHEN "03" THEN "SUSPENSA" \
    WHEN "04" THEN "INAPTA" \
    WHEN "08" THEN "BAIXADA" \
  END AS [Situacao_Cadastral_RFB], \
  CAST(emp.data_situacao AS DATE) AS [Data_Situacao_Cadastral_RFB], \
  emp.cod_nat_juridica AS [Codigo_Natureza_Juridica_RFB], \
  CAST(emp.data_inicio_ativ AS DATE) AS [Data_Inicio_Atividade_RFB], \
  emp.cnae_fiscal AS [CNAE_Fiscal_RFB], \
  emp.municipio AS [Municipio_RFB], \
  emp.uf AS [UF_RFB], \
  soc.nome_socio AS [Nome_Socio_RFB], \
  soc.cnpj_cpf_socio AS [CPF_Socio_RFB], \
  CAST(soc.data_entrada AS DATE) AS [Data_Entrada_Socio_RFB], \
  pep.Nome_PEP AS [Nome_PEP], \
  pep.CPF_normalizado AS [CPF_PEP], \
  pep.Descrição_Função AS [Funcao_PEP], \
  pep.Data_Inicio_Exercicio_normalizado AS [Data_Inicio_PEP], \
  pep.Data_Fim_Exercicio_normalizado AS [Data_Fim_PEP], \
  pep.Data_Fim_Carência_normalizado AS [Data_Carencia_PEP], \
  pep.Municipio_normalizado AS [Municipio_PEP], \
  pep.uf_orgao AS [UF_PEP] \
FROM despesas_consolidado des \
JOIN empresas emp ON emp.cnpj = des.nr_identificador_despesa \
JOIN socios soc ON soc.cnpj = emp.cnpj \
JOIN peps pep ON pep.CPF_normalizado = soc.cnpj_cpf_socio AND pep.Nome_PEP = soc.nome_socio'

In [42]:
empresas_prefeitos_vereadores = pd.read_sql(sql, engine_banco_saida, index_col=None)

In [43]:
empresas_prefeitos_vereadores.sample(5)

,Nome_Municipio_Ficticio,CNPJ_Empresa_Beneficiaria,Razao_Social_Empresa_Beneficiaria,Valor_Total,CNPJ_RFB,Razao_Social_RFB,Situacao_Cadastral_RFB,Data_Situacao_Cadastral_RFB,Codigo_Natureza_Juridica_RFB,Data_Inicio_Atividade_RFB,...,CPF_Socio_RFB,Data_Entrada_Socio_RFB,Nome_PEP,CPF_PEP,Funcao_PEP,Data_Inicio_PEP,Data_Fim_PEP,Data_Carencia_PEP,Municipio_PEP,UF_PEP
58,CLARETO,10240793000137,JOAO LUCAS ELETRONICOS SA,135392.02,10240793000137,JOAO LUCAS ELETRONICOS SA,ATIVA,20200101,3999,20130111,...,***502138**,20200101,CAUME UNAIDE ABASILIA PHREDERICO ZIELAK,***502138**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,BREIA,SP
37,MORIBE,55336339000149,MAYA BRASIL,235324.58,55336339000149,MAYA BRASIL,ATIVA,20200101,2062,19660705,...,***105988**,20200101,DOUGLAS SPERETA PITTINI,***105988**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,KNAB,SP
2,POSE,03195017000178,JONA SPE,8875293.18,03195017000178,JONA SPE,ATIVA,20200101,2240,20200423,...,***662658**,20200101,INFANCIA COFAN BLAGOJEVIC PRANTEL MAREZE,***662658**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,CASCIANO,SP
61,ARENAS,49524688000199,IBAI VESTUARIO,120062.11,49524688000199,IBAI VESTUARIO,ATIVA,20200101,2038,20201019,...,***883218**,20200101,LUZENICE LANUZIA DE PALKOSKI,***883218**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,ANNUNCIACAO,SP
3,POSE,03195017000178,JONA SPE,8875293.18,03195017000178,JONA SPE,ATIVA,20200101,2240,20200423,...,***294438**,20200101,TOSHIO MARIOSI,***294438**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,SUCHOBKOW,SP

#### Salvar dados

In [44]:
arquivo_saida = 'empresas_prefeitos_vereadores.csv'
filepath = os.path.join(diretorio_saida_dados, arquivo_saida)
empresas_prefeitos_vereadores.to_csv(filepath, index=False)

### Consultar Empresas Relacionadas com Pessoas Politicamente Expostas que Receberam Recursos dos Municípios que Possuem Mandatos

In [45]:
sql = 'SELECT \
  des.ds_municipio AS [Nome_Municipio_Ficticio], \
  des.nr_identificador_despesa AS [CNPJ_Empresa_Beneficiaria], \
  des.ds_despesa AS [Razao_Social_Empresa_Beneficiaria], \
  des.soma AS [Valor_Total], \
  emp.cnpj AS [CNPJ_RFB], \
  emp.razao_social AS [Razao_Social_RFB], \
  CASE emp.situacao \
    WHEN "01" THEN "NULA" \
    WHEN "02" THEN "ATIVA" \
    WHEN "03" THEN "SUSPENSA" \
    WHEN "04" THEN "INAPTA" \
    WHEN "08" THEN "BAIXADA" \
  END AS [Situacao_Cadastral_RFB], \
  CAST(emp.data_situacao AS DATE) AS [Data_Situacao_Cadastral_RFB], \
  emp.cod_nat_juridica AS [Codigo_Natureza_Juridica_RFB], \
  CAST(emp.data_inicio_ativ AS DATE) AS [Data_Inicio_Atividade_RFB], \
  emp.cnae_fiscal AS [CNAE_Fiscal_RFB], \
  emp.municipio AS [Municipio_RFB], \
  emp.uf AS [UF_RFB], \
  soc.nome_socio AS [Nome_Socio_RFB], \
  soc.cnpj_cpf_socio AS [CPF_Socio_RFB], \
  CAST(soc.data_entrada AS DATE) AS [Data_Entrada_Socio_RFB], \
  pep.Nome_PEP AS [Nome_PEP], \
  pep.CPF_normalizado AS [CPF_PEP], \
  pep.Descrição_Função AS [Funcao_PEP], \
  pep.Data_Inicio_Exercicio_normalizado AS [Data_Inicio_PEP], \
  pep.Data_Fim_Exercicio_normalizado AS [Data_Fim_PEP], \
  pep.Data_Fim_Carência_normalizado AS [Data_Carencia_PEP], \
  pep.Municipio_normalizado AS [Municipio_PEP], \
  pep.uf_orgao AS [UF_PEP] \
FROM despesas_consolidado des \
JOIN empresas emp ON emp.cnpj = des.nr_identificador_despesa \
JOIN socios soc ON soc.cnpj = emp.cnpj \
JOIN peps pep ON pep.CPF_normalizado = soc.cnpj_cpf_socio AND pep.Nome_PEP = soc.nome_socio \
WHERE emp.uf = pep.uf_orgao AND emp.municipio = pep.Municipio_normalizado'

In [46]:
empresas_prefeitos_vereadores_mesmo_municipio = pd.read_sql(sql, engine_banco_saida, index_col=None)

In [47]:
empresas_prefeitos_vereadores_mesmo_municipio.sample(5)

,Nome_Municipio_Ficticio,CNPJ_Empresa_Beneficiaria,Razao_Social_Empresa_Beneficiaria,Valor_Total,CNPJ_RFB,Razao_Social_RFB,Situacao_Cadastral_RFB,Data_Situacao_Cadastral_RFB,Codigo_Natureza_Juridica_RFB,Data_Inicio_Atividade_RFB,...,CPF_Socio_RFB,Data_Entrada_Socio_RFB,Nome_PEP,CPF_PEP,Funcao_PEP,Data_Inicio_PEP,Data_Fim_PEP,Data_Carencia_PEP,Municipio_PEP,UF_PEP
10,DALO,10240793000137,JOAO LUCAS ELETRONICOS SA,221294.85,10240793000137,JOAO LUCAS ELETRONICOS SA,ATIVA,20200101,3999,20130111,...,***502138**,20200101,CAUME UNAIDE ABASILIA PHREDERICO ZIELAK,***502138**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,BREIA,SP
14,CAMPALDI,10240793000137,JOAO LUCAS ELETRONICOS SA,122131.48,10240793000137,JOAO LUCAS ELETRONICOS SA,ATIVA,20200101,3999,20130111,...,***502138**,20200101,CAUME UNAIDE ABASILIA PHREDERICO ZIELAK,***502138**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,BREIA,SP
5,PATRUCCO,12480500000115,VICENTE MODAS,306932.06,12480500000115,VICENTE MODAS,BAIXADA,20200101,2305,20140218,...,***178358**,20200101,JOAO YPEI DE KAARA,***178358**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,GAZETA,SP
16,BOTCHER,10240793000137,JOAO LUCAS ELETRONICOS SA,102755.90,10240793000137,JOAO LUCAS ELETRONICOS SA,ATIVA,20200101,3999,20130111,...,***502138**,20200101,CAUME UNAIDE ABASILIA PHREDERICO ZIELAK,***502138**,PREFEITO,2017-01-01,2020-12-31,2025-12-31,BREIA,SP
2,SUCHOBKOW,56776669000107,FINN TECNOLOGIA,559375.94,56776669000107,FINN TECNOLOGIA,ATIVA,20200101,3999,19860918,...,***078588**,20200101,IDEVAL DELU STRAPPA,***078588**,VEREADOR,2017-01-01,2020-12-31,2025-12-31,SUCHOBKOW,SP

#### Salvar dados

In [48]:
arquivo_saida = 'empresas_prefeitos_vereadores_mesmo_municipio.csv'
filepath = os.path.join(diretorio_saida_dados, arquivo_saida)
empresas_prefeitos_vereadores_mesmo_municipio.to_csv(filepath, index=False)